
@{
    ViewBag.Title = "Exibir";
}

<h3>Voce esta assistindo a <b>@ViewBag.Titulo</b></h3>
<!--P/ Rxibir esse titulo segue-se o codigo abaixo-->
<div class="embed-responsive embed-responsive-16y9">
    <iframe class="embed-responsive-item" src="@ViewBag.Url" allowfullscreen></iframe>
</div>

